.wrapper {
  @apply flex flex-col w-full 
  lg:flex-row;

  .col-left {
    @apply flex flex-col basis-1/2;
    .badge {
      @apply bg-yellow  rounded-3xl text-center ml-8 w-[112px] h-[32px]  mt-[10px] 
      lg:w-[210px] lg:h-[50px]  lg:mt-[40px] lg:ml-0;
      p {
        @apply text-oragange m-[10px] font-russo text-[8px] 
        lg:text-[16px] lg:m-3;
      }
    }
    h1 {
      @apply font-russo tracking-tight font-bold mx-8 text-[32px] leading-[130%] mt-[10px] 
      
      lg:mx-0 lg:text-[72px];
      span {
        @apply text-oragange;
      }
    }
    p {
      @apply font-nunito font-medium mx-8 text-[16px] leading-[160%]  mt-[10px]
      lg:text-[20px]  lg:mt-[40px] lg:mx-0;
    }
    button {
      @apply bg-oragange font-russo  text-yellow text-xs w-[100px] h-[34px] rounded-[100px] mt-[20px] mx-auto
        lg:w-[192px] lg:h-[68px] lg:rounded-[100px] lg:mt-[40px] lg:mx-0 lg:text-sm
       hover:bg-orange500 transition duration-300 ease-in-out;
    }
  }
  .col-rigth {
    @apply basis-1/2 relative;
    .inner {
      @apply block;
      .food {
        @apply w-max h-max mt-[40px];
      }
      .rucola {
        @apply hidden lg:block lg:absolute lg:top-0  lg:right-[230px];
      }
    }
    .arrow {
      @apply hidden lg:block lg:absolute lg:bottom-0 lg:right-0 lg:w-fit;
    }
    .blur {
      @apply w-[250px] h-[500px] bg-oragange rounded-full rotate-45 blur-[200px] absolute top-0  right-0 z-[-1];
    }
  }
}
